.weather__days__list {
  // background-color: red;
  width: auto;
  height: auto;
  padding: 20px;
  .list__avatar {
    display: block;
    position: relative;
    height: 60px;
    width: 100px;
  }
}

.Cloudy {
  background-image: url('../assets/images/cloudy.png');
  background-repeat: no-repeat;
}

.Sunny {
  background-image: url('../assets/images/sunny.png');
  background-repeat: no-repeat;
}

.PartlyCloudy {
  background-image: url('../assets/images/partly_cloudy.png');
  background-repeat: no-repeat;
}
.RainLight {
  background-image: url('../assets/images/rain_light.png');
  background-repeat: no-repeat;
}
.RainAndCloudy {
  background-image: url('../assets/images/rain_s_cloudy.png');
  background-repeat: no-repeat;
}