@font-face {
  font-family: OpenSans;
  src: url('../assets/fonts/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: GoogleSans;
  src: url('../assets/fonts/ProductSans-Regular.ttf');
}

/* app container */
.weather {
  position: relative;
  max-width: 800px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 425px;
  height: auto;
  box-shadow: 0px 0px 4px 1px #bbbbbb;
  padding: 10px 15px 15px 15px;
  border-radius: 5px;

  &__info {
    overflow: hidden;
    position: relative;
    width: 85%;
    height: auto;
    font-size: 1.6rem;
    font-family: OpenSans;
    font-weight: bold;
    color: #636363;
    padding: 15px 0px;
    word-spacing: 2px;
   
    &--avatar {
      display: block;
      float: left;
      background-size: contain;
      position: relative;
      height: 70px;
      width: 80px;
    }

    &--temp {
      display: block;
      text-align: center;
      height: 70px;
      width: auto;
      float: left;
      font-size: 4rem;
      color: #292929;

      sup {
        font-size: 2rem;
        color: #c0c0c0;
        cursor: pointer;
      }
   
      .temp__active {
        color :#636363;
      }

    }

    &--more {
      line-height: 1.4;
      display: block;
      float: right;
      font-weight: 400;
      color: #696969;
      font-size: 1.6rem;
      padding-left: 15px;
      padding-top: 10px;
      font-family: OpenSans;
      width: auto;
      height: auto;
      ul {
        list-style: none;
      }
      li > span {
      color: #292929;
      }
    }
  }
}

@media (max-width: 450px){
  .weather {
    &__info {
      &--more {
        display: block;
        float: left;
        
        margin-left: 65px;
        padding-top: 0px;
      }
    }
  }
}



